User/Package Control.last-run
User/Package Control.ca-list
User/Package Control.ca-bundle
User/Package Control.system-ca-bundle
User/Package Control.cache/
User/Package Control.ca-certs/
User/encoding_cache.json